@model GymApp.Models.Equipment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Equipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceDuedate" class="control-label"></label>
                <input asp-for="MaintenanceDuedate" class="form-control" />
                <span asp-validation-for="MaintenanceDuedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastMaintenanceDate" class="control-label"></label>
                <input asp-for="LastMaintenanceDate" class="form-control" />
                <span asp-validation-for="LastMaintenanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceInfo" class="control-label"></label>
                <input asp-for="MaintenanceInfo" class="form-control" />
                <span asp-validation-for="MaintenanceInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <select asp-for="RoomId" class ="form-control" asp-items="ViewBag.RoomId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdminStaffId" class="control-label"></label>
                <select asp-for="AdminStaffId" class ="form-control" asp-items="ViewBag.AdminStaffId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
